.main {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
}
.header{
    display: flow-root;
    justify-items: center;
}
.header-image {
    width: inherit;
}
.job-details {
    display: grid;
    padding: 1rem;
    background-color: forestgreen;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid beige;
}

.shift-dates,
.location,
.requirement{
    display: grid;
    flex-direction: row;
    padding: 1rem;
    border-bottom: solid beige;
}

.report-to {
    display: grid;
    flex-direction: row;
    padding: 1rem;
}